* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #151320;
}

.caixa {
    position: relative;
    width: 400px;
    height: 400px;
    color: #fff;
    background-color: #151320;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.caixa::before, .caixa::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #a200ff, #ff0055, #ff0000);
    background-size: 300%;
    border-radius: 8px;
    animation: animarBordar 8s linear infinite;
}

@keyframes animarBordar {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

.caixa::after {
    filter: blur(20px);
}